<h1><%= @post.subject %></h1>


<br><br>
<div class="content-block">

  <div class="sub-container">
    <div class="votecell">
      <%= link_to icon('thumbs-o-up'), post_upvote_path(@post) %><br>
      <%= @post.upvotes.size - @post.downvotes.size %><br>
      <%= link_to icon('thumbs-o-down'), post_downvote_path(@post) %>
    </div>
  </div>
  <div class="text">
    <%= raw Rinku.auto_link(@post.body) %>
    <div class="comment">
      <% @post.comments.each do |comment| %>
        <%= raw Rinku.auto_link(comment.body) %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %> <% if current_user == comment.user %> | <%= link_to icon('trash-o'), delete_comment_path(comment), method: :delete %> <% end %>
      <% end %>
    </div>
    <%= link_to icon('comment'), new_post_comment_path(@post) %>
  </div>
</div>
<hr>
<h2>Answers: <%= @answers.length %></h2>


<% if @post.find_fav %>
  <%= render 'favorite' %>
<% end %>

<% @answers.each do |answer| %>

  <% unless answer == @favorite %>
  <div class="content-block">
    <div class="sub-container">
      <div class="votecell">
        <%= link_to icon('thumbs-o-up'), answer_upvote_path(answer) %><br>
        <%= answer.upvotes.size - answer.downvotes.size %>
        <% if current_user.id == @post.user_id %>
          <%= link_to icon('star-o'), post_favorite_path(@post,answer), method: :patch, class: "star-link"%>
        <% end %><br>
        <%= link_to icon('thumbs-o-down'), answer_downvote_path(answer) %>
      </div>
    </div>
    <div class="text">
      <p><%= raw Rinku.auto_link(answer.body) %></p>
      <p><%= answer.updated_at.to_s[0..9] %> | <%= link_to "#{answer.user.first_name} #{answer.user.last_name}", user_path(answer.user) %>
      <% if current_user == answer.user %>
        | <%= link_to icon('pencil-square-o'), edit_post_answer_path(answer.post, answer) %>
          <%= link_to icon('comment'), new_answer_comment_path(answer) %>
        </p>

        <div class="comment">
          <% answer.comments.each do |comment| %>
            <%= raw Rinku.auto_link(comment.body) %> by: <%= "#{comment.user.first_name} #{comment.user.last_name}" %> <% if current_user == comment.user %> | <%= link_to icon('trash-o'), delete_comment_path(comment), method: :delete %> <% end %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= render 'form_answer' %>
<% end %>

<br>

<div class="tags">
  <%= icon('tags') %>
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag) %> |
  <% end %>
</div>
